{% extends "base.html" %}
{% load static %}

{% block title %}Women in Tech | Profiles{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<header class="page-header">
  <h1> Women in Tech Hall of Fame</h1>
</header>

<section id="about-section" class="about-section">
  {% for about_profile in about_profiles %}
    <div class="info-card">
      <h3><a href="{% url 'about_detail' about_profile.pk %}">{{ about_profile.name }}</a></h3>
      <p>{{ about_profile.contribution|truncatechars:100 }}</p>
    </div>
  {% endfor %}
</section>
{% endblock %}
